.one{
    background: rgba(255, 255, 255, 0.7);
   
    
}
.two{
    background: rgb(31,223,211);
background: linear-gradient(337deg, rgba(31,223,211,1) 0%, rgba(253,29,248,0.9109768907563025) 100%);
}
.color1{
    color: blueviolet;
}
.color2{
    color: darkblue;
}
.three{
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}