.connect-btn #btn-1:hover{
    background-color: #efefef !important;
    border: 2px solid #3d8bff !important;
}

#btn-2:hover{
    background-color: #efefef !important;
    border: 2px solid green !important;
    color: green !important;
}

.community{
    min-width: 17rem !important;
    min-height: 17rem !important;
}

.vertical-line {
    border-left: 1px solid #000; 
    height: 100vh; 
  }
  .justify-content-center {
    justify-content: center !important;
  }