.sBar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 70px;
    background-color:#fe5722;
    color:rgb(255, 255, 255) ;
    transition: width 0.3s ease;
    font-size: 12px;
    overflow-y: auto;
    scrollbar-width:none;
    z-index: 1000;
    font-Family:'helvetica',
    
    
    
    

   
    
}

.sBar:hover {
    width: 200px;
}

.sBar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sBar ul li {
    padding: 10px;
    text-align: center;
    white-space: nowrap;
}

.sBar ul li a {
    color: #fff;
    text-decoration: none;
}

.sBar ul li span {
    display: none;
}

.sBar:hover ul li span {
    display: inline-block;
    margin-left: 10px;
}

.sBar ul li:hover {
    background-color:#ffffff;
    color: #fff;
}