/* General Styles */
.nav-link {
  color: #231f20; /* Normal color */
  text-decoration: none; /* Remove underline */
  display: flex; /* Align icon and text */
  align-items: center; /* Center items vertically */
  padding: 8px 16px; /* Adjust padding as needed */
  font-weight: bolder;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.nav-item .nav-link  {
  font-weight: bolder;
  margin: 0; /* Remove default margin */
  color: #231f20;
}

/* Icon styles */
.nav-icon {
  margin-right: 5px; /* Space between icon and text */
  color: #231f20; /* Default icon color */
}

/* Hover styles */
.nav-item .nav-link:hover {
  color: #fe5722; /* Hover text color */
  background-color: rgba(255, 87, 34, 0.1); /* Light orange background on hover */
}
.nav-link:hover .nav-icon {
  color:rgb(13, 110, 253); /* Hover icon color */
}


/* Active styles */
.nav-link.active .nav-item {
  color: #ffffff; /* Active text color */
  background-color: rgba(255, 87, 34, 0.1); /* Light orange background for active link */
}

.nav-link.active .nav-icon {
  color: #ffffff; /* Active icon color */
}

/* Rotate icon for dropdown */
.rotate-icon {
  transform: rotate(90deg);
  transition: transform 0.1s ease;
  color: #231f20;
}

/* Submenu styles */
.collapse .nav-item .nav-link {
  padding-left: 32px; /* Indent submenu items */
}

/* Transition for submenu */
.collapse.show {
  transition: height 0.3s ease;
}
