.t{
    text-align: justify;
}
.color1{
    color: rgba(137, 43, 226, 0.7);
}
.color2{
    background: #ffffff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.color3{
    background-color:rgba(137, 43, 226, 0.7);
}

.fs1{
    font-size: 12px;
}
.color4{
    color:rgba(0, 0, 139, 0.5);
}