.gradient-custom1 {
    background: #fccb90;
    background: -webkit-linear-gradient(
      to bottom right,
      rgb(234, 7, 255),
      #1414e393
    );
    background: linear-gradient(to bottom right, #f1eef1, #9e9eb993);
  }
  