body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  
  background-color:#e3eaf3 !important;
}

.content-wrapper{
  background: #e3eaf3 !important ;
}

.btn {
  font-family: "Josefin Sans", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: weight !important;
  font-style: normal !important;
  font-size: 13px !important;
}
 *{
  font-family: "Plus Jakarta Sans", sans-serif ;
  font-optical-sizing: auto ;
  font-weight: weight ;
  font-style: normal ;
  
}

/* Hide the spin buttons in Chrome, Safari, Edge, and Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Hide the spin buttons in Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}

.nav-pills .nav-link{
 
  color: #231f20 !important;
  font-weight: bold !important;
 
  }

.nav-pills .nav-link.active{
background-color: #231f20 !important;
color: #fff !important;
font-weight: bold !important;
font-variant: small-caps !important;
}

/* input.form-control:focus, 
textarea.form-control:focus, 
select.form-select:focus, 
input.form-check-input:focus, 
input[type="range"]:focus {
    outline: none !important;
    box-shadow: none !important;
} */


/* .react-select-container {
  border: 1px solid transparent !important;
  border-radius: 4px !important; 
}

.react-select__control {
  border: none !important; 
}

.react-select__control--is-focused {
  border-color: transparent !important;  
}

.react-select__control--is-invalid {
  border-color: red !important; 
}

.react-select__control--is-valid {
  border-color: green !important; 
} */
