body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}




 *{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* Hide the spin buttons in Chrome, Safari, Edge, and Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spin buttons in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.nav-pills .nav-link{
 
  color: #231f20 !important;
  font-weight: bold !important;
  font-variant: small-caps !important;
  }

.nav-pills .nav-link.active{
background-color: #231f20 !important;
color: #fff !important;
font-weight: bold !important;
font-variant: small-caps !important;
}